/* RESET */
nav ul{
  list-style:none;
  margin:0;
  padding:0;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* MENU */
.menu{
  display:flex;
  gap:25px;
}

/* DROPDOWN */
.dropdown-menu,
.dropdown-submenu{
  display:none;
  position:absolute;
  background:#fff;
}

.dropdown:hover > .dropdown-menu{
  display:block;
}

/* HAMBURGER */
.hamburger{
  display:none;
  flex-direction:column;
  gap:6px;
}

/* MOBILE */
@media(max-width:900px){
  .menu{
    flex-direction:column;
  }

  .hamburger{
    display:flex;
  }

  nav{
    position:fixed;
    right:-280px;
  }

  nav.active{
    right:0;
  }
}
